<h1>Hey there,
    <%= @user.username %>
</h1>

<% if !@user.bands.empty? && !@user.tracks.empty? %>
<h2>This is your Band Track tracklist.
    <br>
    Click on a track to update it with changes.
</h2>

<% @user.tracks.each do |track| %>
<li>
    <a href="/tracks/<%=track.name.downcase.split.join("-")%>"><%=track.band.name%>
        - "<%= track.name %>"</a>
</li>
<% end %>

<% elsif @user.bands.empty? && @user.tracks.empty? %>
<h2>Your Band Track tracklist is currently empty :(</h2>
<% end %>
<br>
<h2>Add
    <a href="/tracks/new">new tracks</a>, if you cannot find them in your Band Track tracklist. Search:
</h2>

<li>
    <h2>
        <a href="/bands">All bands</a>
    </li>
</h2>
<li>
    <h2>
        <a href="/tracks">All tracks</a>
    </li>
        <a href="/logout">Log Out</a>
</h2>